apiVersion: v2
name: srm
description: Software Risk Manager
type: application
icon: https://raw.githubusercontent.com/codedx/srm-k8s/refs/heads/main/docs/images/icon.svg
version: 1.41.0
appVersion: "v2024.9.6"

dependencies:
- name: mariadb
  version: 7.6.0
  repository: https://codedx.github.io/srm-k8s
  condition: features.mariadb
- name: scan-services
  version: "2024.9.1"
  repository: https://repo.blackduck.com/artifactory/sig-cloudnative
  condition: features.scanfarm
- name: argo-workflows
  version: 0.42.4
  repository: https://argoproj.github.io/argo-helm
  condition: features.to
- name: minio
  version: 3.3.0
  repository: https://codedx.github.io/srm-k8s
  condition: features.minio
